/Unidad_5/P1/nbproject/private/
/Unidad_5/P1/build/
/Unidad_5/Sarru_Colecciones_EJ1/nbproject/private/
/Unidad_5/Colecciones_EJ1/nbproject/private/
/Unidad_5/Colecciones/nbproject/private/
/Unidad_5/Colecciones/build/
/Unidad_5/Colecciones2/nbproject/private/
/Unidad_5/Colecciones2/build/
/Unidad_5/Colecciones3/nbproject/private/
/Unidad_5/U7_Ej1/nbproject/private/
/Unidad_5/U7_Ejercicio1/nbproject/private/
/Unidad_5/U7_Ejercicio1/build/
/Unidad_5/U7_Ejercicio2/nbproject/private/
/Unidad_5/U7_Ejercicio2/build/
/Unidad_5/U7_Ejercicio3/nbproject/private/
/Unidad_5/U7_Ejercicio3/build/
/Unidad_5/U7_Ejercicio4/nbproject/private/
/Unidad_5/U7_Ejercicio4/build/
/Unidad_5/E-Commerce/nbproject/private/
/Unidad_8/Excepciones/nbproject/private/
/Unidad_8/Excepciones/build/
