/Unidad_5/P1/nbproject/private/
/Unidad_5/P1/build/
/Unidad_5/Sarru_Colecciones_EJ1/nbproject/private/
/Unidad_5/Colecciones_EJ1/nbproject/private/
/Unidad_5/Colecciones/nbproject/private/
/Unidad_5/Colecciones/build/
/Unidad_5/Colecciones2/nbproject/private/
/Unidad_5/Colecciones2/build/
/Unidad_5/Colecciones3/nbproject/private/
